.modal-form-background {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(23, 23, 23, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form-container {
    width: 44.583vw;
    height: 47.5vw;
    overflow: hidden;
    background: #fff;
    padding: 2.75vw 3.681vw 3.75vw;
    position: relative;
}

.modal-form__title {
    font-size: 0.833vw;
    line-height: 92%;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #f3c61c;
    margin-bottom: 0.278vw;
}

.modal-form__text {
    font-family: 'Beaumaris Demo', sans-serif;
    font-weight: 400;
    font-size: 1.667vw;
    line-height: 115%;
    letter-spacing: 0.03em;
    color: #333;
    padding-bottom: 3.819vw;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__input {
    font-size: 0.972vw;
    line-height: 93%;
    letter-spacing: 0.04em;
    color: #676767;
    padding-bottom: 0.694vw;
    border: none;
    border-bottom: 0.069vw solid #969595;
}

.modal-form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.167vw;
}

.modal-form-group .modal-form__input {
    flex-grow: 1;
}

.modal-form-group .modal-form__input:first-child {
    margin-right: 1.806vw;
}

.modal-form__email-input {
    margin-bottom: 4.167vw;
}

.modal-form__message-input {
    margin-bottom: 13.229vw;
}

.modal-form-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.agree-block__checkbox-label {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.agree-block__checkbox-label:first-child {
    margin-bottom: 1.042vw;
}

.agree-block__checkbox {
    opacity: 0;
    position: absolute;
}

.agree-block__fake-checkbox__img {
    display: none;
}

.agree-block__checkbox:checked~.agree-block__fake-checkbox svg {
    display: block;
    position: relative;
    bottom: 0.25vw;
    color: #f3c61c;
    width: 1.702vw;
    height: 1.146vw;
}

.agree-block__fake-checkbox {
    width: 1.458vw;
    height: 1.458vw;
    position: relative;
    margin-right: 0.972vw;
    display: block;
    border: 0.069vw solid #c4c4c4;
    flex-shrink: 0;
}

.agree-block__checkbox__label {
    font-size: 0.694vw;
    line-height: 100%;
    letter-spacing: 0.06em;
    color: #333;
}

.modal-form__submit-button {
    font-size: 0.694vw;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #f3c61c;
    padding: 1.25vw 2.708vw 0.764vw 2.917vw;
    outline: none;
}

.modal-form .golden-frame {
    z-index: 1;
}

.modal-form__close-button {
    position: absolute;
    top: 2.083vw;
    right: 2.083vw;
}

.modal-form__close-button, .modal-form__close-button__image {
    width: 1.597vw;
    height: 1.597vw;
}
