.partners__inner {
    padding: 6.528vw 0 2.917vw;
}

.partners__header {
    font-family: 'Beaumaris Demo', serif;
    font-weight: 400;
    font-size: 2.917vw;
    line-height: 95%;
    letter-spacing: 0.03em;
    color: #333;
    margin-bottom: 1.528vw;
}

.partners__text {
    margin: 2.083vw 0 6.458vw;
    font-size: 1.111vw;
    line-height: 168.2%;
    letter-spacing: 0.06em;
    color: #969595;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
}

.partners__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 0 2.083vw;
    margin-bottom: 6.181vw;
}

.partners__list-item__img {
    object-fit: contain;
    width: 100%;
    height: 3.681vw;
}
