<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Новости</title>
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/header.css" />
        <link rel="stylesheet" href="css/footer.css" />
        <link rel="stylesheet" href="css/newsListPage/headline.css" />
        <link rel="stylesheet" href="css/newsListPage/news-list.css" />
        <link rel="stylesheet" href="css/modal-form.css" />
        <link rel="stylesheet" href="css/form-submission-window.css" />
    </head>
    <body>
        <%= _.template(require('./../includes/modal-form.html').default)() %>
        <%= _.template(require('./../includes/form-submission-window.html').default)() %>        
        <%= _.template(require('./../includes/header.html').default)() %>
        <main>
            <% var data = { description: "События", text: "Узнайте больше о" +
            "нашем развитии, мероприятиях, новых партнерах, идеях и проектах.",
            img: {src:"image 4.png", alt: "Объект", title: "Объект"} }; %>
            <%=
            _.template(require('./../includes/headline.html').default)(data)%>
            <div id="second-page-block"><%=
            _.template(require('./../includes/news-list.html').default)(data)%></div>
        </main>
        <%= _.template(require('./../includes/footer.html').default)() %>
        <script src="./bundle.js"></script>
    </body>
</html>
