.catalog-header {
    position: relative;
    width: 100vw;
    height: 45.417vw;
}

.catalog-header__background-light-theme {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../img/pattern-dark.svg'),
        linear-gradient(180deg, #0c466c 0%, rgba(12, 70, 108, 0) 129.74%),
        url('../../img/image 6.png');
    background-size: cover;
    background-color: #1c6799;
    mix-blend-mode: multiply;
}

.pointer-to-left {
    position: absolute;
    left: 9.514vw;
    top: 16.597vw;
    width: 2.708vw;
    height: 1.389vw;
    cursor: pointer;
}

.catalog__title {
    position: absolute;
    width: 41.458vw;
    top: 21.806vw;
    left: 9.375vw;
}

.event__title {
    font-family: 'Beaumaris Demo', sans-serif;
    font-size: 4.722vw;
    line-height: 95%;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.pointer-to-down {
    position: absolute;
    left: 3.056vw;
    bottom: 3.264vw;
    width: 2.847vw;
    height: 5.069vw;
    cursor: pointer;
}

.line-light-theme__news {
    width: 4.167vw;
    height: 0;
    margin: 1.875vw 0;
    border: 0.069vw solid #f3c61c;
}

.search-bar {
    display: flex;
}

.search-bar__input {
    height: 2.917vw;
    width: 13.194vw;
    font-size: 0.833vw;
    line-height: 0.764vw;
    letter-spacing: 0.04em;
    margin-right: 0.556vw;
    padding: 0 0 0 1.458vw;

    color: #4d515e;
}

.area {
    position: relative;
    padding: 0 0 0 2.778vw;
    display: block;
    width: 19.861vw;
    background: #ffffff;
}

.geo {
    position: absolute;
    width: 1.458vw;
    height: 1.038vw;
    top: 0.94vw;
    left: 0.556vw;
    z-index: 1;
}

.area-input-wrapper {
    position: relative;
}

.catalog__search-button {
    width: 11.111vw;
    height: 100%;
    font-size: 0.694vw;
    line-height: 0.694vw;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
}

.golden-frame__background {
    background: #f3c61c;
    border: 0.034vw solid #f3c61c;
}
