.new-object {
    padding-bottom: 3.75vw;
}

.new-objects__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.new-objects__header {
    font-family: 'Beaumaris Demo', serif;
    font-size: 3.611vw;
    line-height: 95%;
    letter-spacing: 0.03em;
    color: #000;
}

.all-objects {
    font-family: 'Beaumaris Demo', serif;
    font-size: 1.25vw;
    line-height: 95%;
    letter-spacing: 0.03em;
    color: #f3c61c;
    position: relative;
    display: flex;
}

.all-objects__arrow {
    width: 2.708vw;
    margin-left: 0.417vw;
}

.new-objects__content {
    display: flex;
    padding: 5.347vw 0 3.75vw;
}

.new-objects__left-column {
    width: 50%;
    padding-right: 0.833vw;
}

.new-objects__right-column {
    width: 50%;
    padding-top: 8.611vw;
    padding-left: 0.833vw;
}

.new-object {
    width: 39.792vw;
    position: relative;
}

.new-object__image {
    width: 39.792vw;
}

.new-object__frame {
    position: absolute;
    width: 37.188vw;
    height: 29.201vw;
    top: 1.25vw;
    left: 1.25vw;
    border: 0.069vw solid #f3c61c;
}

.new-object__company-logo-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 6.111vw;
    height: 4.514vw;
    top: -0.417vw;
    right: 2.639vw;
    background-color: #1c6799;
    padding: 0.903 auto;
}

.new-object__company-logo {
    width: 3.889vw;
}

.new-object__info {
    margin: 0 2.639vw 0 3.125vw;
    padding: 0 0.8vw;
    position: relative;
}

.new-object__name {
    white-space: nowrap;
    width: min-content;
    background: #fff;
}

.new-object__area {
    font-size: 0.833vw;
    line-height: 350%;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #333;
}

.new-object__name {
    font-family: 'Beaumaris Demo', serif;
    font-size: 1.667vw;
    line-height: 95%;
    letter-spacing: 0.03em;
    color: #f3c61c;
    margin-bottom: 1.389vw;
}

.new-object__address, .new-object__description {
    font-size: 0.833vw;
    line-height: 168.2%;
    letter-spacing: 0.06em;
    color: #333333;
}

.new-object__description {
    display: flex;
    align-items: center;
}

.ellipse {
    width: 0.208vw;
    height: 0.208vw;
    border-radius: 50%;
    background: #333;
    margin: 0 0.417vw;
}

.new-object__full-description-link-container {
    width: fit-content;
    margin-top: 1.736vw;
}

.new-object__full-description-link {
    font-size: 0.694vw;
    line-height: 100%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #333;
    padding: 1.25vw 3.056vw 0.764vw 3.194vw;
    display: block;
}
