.all-news {
    margin-right: 0.694vw;
}

.news-article {
    width: 65.069vw;
    padding: 2.5vw 0 0;
}

.news-article__title {
    font-family: 'Beaumaris Demo', sans-serif;
    font-size: 2.917vw;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: #000;
}

.news-article__content {
    margin-top: 3.472vw;
    font-size: 1.11vw;
    line-height: 174%;
    letter-spacing: 0.07em;
    color: #333;
}

.all-news-link {
    display: flex;
    width: inherit;
    justify-content: center;
    align-items: center;
    margin: 4.653vw 0;
    font-family: 'Beaumaris Demo', sans-serif;
    font-size: 1.25vw;
    line-height: 95%;
    letter-spacing: 0.03em;
    color: #f3c61c;
    cursor: pointer;
}

.mass-media-news {
    width: 34.93vw;
    background: #f7f5f5;
}

.pointer-to-right {
    transform: rotate(-180deg);
    width: 2.708vw;
    height: 1.389vw;
    cursor: pointer;
}

.news {
    display: flex;
}

.mass-media__news {
    margin-left: 5.278vw;
}

.mass-media-news-list {
    margin-top: 4.5vw;
}

.mass-media__line_light-theme {
    width: 1.806vw;
    height: 0;
    border: 0.052vw solid #f3c61c;
    margin: 0.833vw 0;
}

.date__mass-media-news {
    font-family: 'Beaumaris Demo', sans-serif;
    font-size: 0.972vw;
    line-height: 95%;
    letter-spacing: 0.06em;
    color: #969595;
}

.description__mass-media-news {
    display: block;
    font-size: 1.111vw;
    line-height: 146.28%;
    width: 19.861vw;
    letter-spacing: 0.05em;
    color: #b0abab;
    cursor: pointer;
}

.property {
    width: 7.639vw;
    height: 1.319vw;
    margin-top: 0.903vw;
}

.line-light-theme__news {
    width: 4.167vw;
    height: 0;
    margin: 0.903vw 0;
    border: 0.069vw solid #f3c61c;
}
